<!-- <form class="my-form">
    <h3>Login Form</h3>
    <mat-form-field class="my-fields">
     <mat-label>User Name</mat-label> 
     <input matInput 
     [(ngModel)]="loginForm.username"
      name="username">
    </mat-form-field>
    <mat-form-field class="my-fields">
     <mat-label>Password</mat-label>
     <input matInput type="password"  
     [(ngModel)]="loginForm.password"
      name="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="userLogin()">Login</button>
  </form> -->

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card >
    <mat-card-header >
      <mat-card-title >Login </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <form class="form-signin"  method="get">
      <mat-form-field class="textfeild">
       <label for="emailExample" class="emaillabel">User ID </label>
       <div >
        <i class="glyphicon glyphicon-user"></i>
        <input [(ngModel)]="loginForm.username" type="text" name="username" class="emailinput">
      </div>
    
     </mat-form-field>

      <mat-form-field  class="textfeild" >
        <label for="emailExample" class="passwrdlbl">Password</label>
       <div >
          <i class="glyphicon glyphicon-lock"></i>
          <input [(ngModel)]="loginForm.password" type="password" name="password"  class="passinpt">
          </div>
        
      </mat-form-field>
      </form>
    </mat-card-content>

    
   

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="userLogin()" class="btn" >Login</button>
    </mat-card-actions>
    </mat-card>
    </div>