<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card >
    <mat-card-header >
      <mat-card-title style="padding-top: 23px !important;">Login Page</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
     
      <mat-form-field class="textfeild">
       <label for="emailExample" style="color: gray; margin-left: -22px;">E-mail address</label>
       <div >
      <i class="glyphicon glyphicon-envelope"></i>
        <input  type="text" style="padding-top: 5px;padding-left: 44px; font-size: 14px !important;border-bottom:none;border-top: none;border-left: none;border-right: none; width: 296px !important;margin-left:-36px !important; height: 30px !important;margin-bottom: -11px;font-weight: bold;background-color: #e6ecfc;">
      </div>
    
     </mat-form-field>

      <mat-form-field  class="textfeild" style="margin-top: -26px;">
        <label for="emailExample" style="color: gray;margin-left: -21px;">Password</label>
       <div >
          <i class="glyphicon glyphicon-lock"></i>
          <input type="password" style="font-size: 14px !important;border-bottom: none;border-top: none;border-left: none;border-right: none; height: 30px !important;font-weight: bold;background-color: #e6ecfc;width: 296px !important;margin-left: -36px !important;padding-left: 44px;">
          </div>
        
      </mat-form-field>
    </mat-card-content>

    <div class="form-check form-check-inline" class="radiobtn">
      <input class="form-check-input" style="margin-left: 22px;" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
      <label class="form-check-label" for="inlineRadio1" style="margin-left: 3px;">Kainos </label>

      <input class="form-check-input" style="margin-left: 50px;" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
      <label class="form-check-label " for="inlineRadio2" style="margin-left: 3px;">Admin </label>

      <input class="form-check-input" style="margin-left: 55px;" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
      <label class="form-check-label radiobtn" for="inlineRadio3" style="margin-left: 3px;">Vendor </label>
    </div>
    
   

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" class="btn" >Login</button>
    </mat-card-actions>
    </mat-card>
    </div>