<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card >
    <mat-card-header >
      <mat-card-title >Login </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <form class="form-signin"  method="get">
      <mat-form-field class="textfeild">
       <label for="emailExample" class="emaillabel">User ID </label>
       <div >
        <i class="glyphicon glyphicon-user"></i>
        <input [(ngModel)]="loginForm.UserId" name="UserId" type="text" class="emailinput">
      </div>
    
     </mat-form-field>

      <mat-form-field  class="textfeild" >
        <label for="emailExample" class="passwrdlbl">Password</label>
       <div >
          <i class="glyphicon glyphicon-lock"></i>
          <input [(ngModel)]="loginForm.Password" type="password" name="Password"  class="passinpt">
          </div>
        
      </mat-form-field>
      </form>
    </mat-card-content>

    <!-- <div class="form-check form-check-inline" class="radiobtn">
      <input class="form-check-input" style="margin-left: 22px;" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
      <label class="form-check-label" for="inlineRadio1" style="margin-left: 3px;">Kainos </label>

      <input class="form-check-input" style="margin-left: 50px;" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
      <label class="form-check-label " for="inlineRadio2" style="margin-left: 3px;">Admin </label>

      <input class="form-check-input" style="margin-left: 55px;" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
      <label class="form-check-label radiobtn" for="inlineRadio3" style="margin-left: 3px;">Vendor </label>
    </div>
     -->
   

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="userLogin()" class="btn" >Login</button>
    </mat-card-actions>
    </mat-card>
    </div>