
<div class="loginpopup">

    <form    method="post"  >  
     
      
    
    
        <!-- <mat-card  class="bordercard"> -->
         
        <!-- <mat-card-header class="loginheadingweb" > -->
          <mat-card-title class="mainheading">Login</mat-card-title>
        <!-- </mat-card-header> -->
    
    
        <!-- <mat-card-content style="text-align: center;margin-top: 10px;"  class="form-inline"> -->
          <div>
      
           
    
               
    
               <input style=" height: 32px;  width: 182px;" type="text" matInput placeholder="Mobile number" formControlName='mobile' class="mobilenumberlogin" >
     
    
                
    
      </div>
     
              
        
        
      
      <!-- </mat-card-content> -->
    
        <p id="pleaseregister" style="color:red;font-size: 12px;text-align: center;"></p>
    
        
    
    
      <!-- <mat-card-actions style="text-align: center;margin-top: 15px;" > -->
          <button mat-raised-button class="" style="border-radius: 21px;width: 89%;height: 36px;border: 1px solid #0bae62;background-color: white !important;" (click)="sendotp1(dataForm.value)" >Receive a Code Via SMS</button>
      <!-- </mat-card-actions> -->
    
    
    
      
        
    
        <!-- </mat-card> -->
     
       
    </form>
    
    </div>
    
    
      
